# Database Configuration
MONGO_URI=mongodb+srv://your-username:your-password@your-cluster.mongodb.net/?retryWrites=true&w=majority&appName=YourAppName

# JWT Configuration
JWT_SECRET=your-jwt-secret-key

# GitHub OAuth Configuration
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_SECRET=your-github-secret
GITHUB_TOKEN=your-github-token

# Server Configuration
PORT=5001
NODE_ENV=development 